[submodule "scripts/bin/export-compile-commands"]
	path = scripts/bin/export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
